/* Код из ТЗ */

* { 
    box-sizing: border-box; 
}

body, html { 
    height: 100%; 
}

body { 
    background-color: #000000;
    color: #ffffff; 
}

h1 {
    font-family: "Playfair Display"; 
    font-size: 30px; 
    padding: 10px 0px; 
    margin: 0px; 
}

.field {
    position: relative;
    width: 960px;
    height: 576px;
}

.field-box {
    border: 2px solid #d0d0d0;
    float: left;
    width: 962px;
    height: 578px;
}

.field .tile { 
    position: absolute;
    width: 24px;
    height: 24px;
    background-size: 100%;
    background-image: url(../images/tile-W.png);
    z-index: 5; 
}

.field .tileN {
    background-image: url(../images/tile-.png); 
    }
    
.field .tileE { 
    background-image: url(../images/tile-E.png); 
    z-index: 10; 
}

.field .tileP {
    background-image: url(../images/tile-P.png);
    z-index: 10; 
    }
    
.field .tileHP { 
    background-image: url(../images/tile-HP.png); 
    z-index: 9; 
}

.field .tileSW {
    background-image: url(../images/tile-SW.png);
    z-index: 9; 
    }

.field .tile .health { 
    background-color: #ff0000;
    left: 0px; 
    top: 0px; 
    height: 3px; 
    }

.field .tileP .health { 
    background-color: #00ff00; 
    z-index: 11; 
    left: 0px; 
    top: 0px; 
    height: 3px; 
}

.inventory-box { 
    border: 2px solid #d0d0d0; 
    float: left; 
}

.inventory {
    position: relative; 
    width: 800px; 
    height: 32px; 
}

.cl { 
    clear: both; 
    display: block; 
}
